<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstorageini;AccountKey=54eRWXxLU9JM5PaH9YFDwXcOt+dCpdXB/HGdvWmi0mgRKvdsQ7MHJukbjnieY7H0umeMmyrrY+tYdxfKGckc1Q==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>